.section-top-0 {
    padding-top: 0;
}

.section-top-20 {
    padding-top: 20px;
}

.section-top-24 {
    padding-top: 24px;
}

.section-top-34 {
    padding-top: 34px;
}

.section-top-41 {
    padding-top: 41px;
}

.section-top-50 {
    padding-top: 50px;
}

.section-top-66 {
    padding-top: 66px;
}

.section-top-85 {
    padding-top: 85px;
}

.section-top-98 {
    padding-top: 98px;
}

.section-top-110 {
    padding-top: 110px;
}

.section-top-124 {
    padding-top: 124px;
}

.section-top-254 {
    padding-top: 254px;
}

.section-top-350 {
    padding-top: 350px;
}

.shell,
.shell-wide,
.shell-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.shell,
.shell-wide {
    min-width: 300px;
    max-width: 480px;
}

@media (min-width: 768px) {
    .shell,
    .shell-wide {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .shell,
    .shell-wide {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .shell,
    .shell-wide {
        max-width: 1200px;
    }
}

@media (min-width: 1800px) {
    .shell-wide {
        max-width: 1800px;
    }
}

.inset-left-0 {
	padding-left: 0;
}

.inset-left-10 {
	padding-left: 10px;
}

.inset-left-20 {
	padding-left: 20px;
}

.inset-left-30 {
	padding-left: 30px;
}

.inset-left-50 {
	padding-left: 50px;
}

.inset-left-80 {
	padding-left: 80px;
}